
.index {
  display:block;
  height: 100%;
  margin-bottom: 25px;
}

.content {
  margin:0 auto;
  width: calc(82% - 120px);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 120px	0	120px 0;
}

.skin {
  background-color: #f7f7f9;
}

.text__block {
  flex: 1;
  margin: auto;
  max-width: 449px;
  opacity: 0%;
  font-size: 20px;

}
@keyframes opacity_on {
  0%{transform:scale(0);opacity:0}10%{transform:scale(0.1);opacity:.1;transform:scale(0.1);opacity:.1}20%{transform:scale(0.2);opacity:.2}30%{transform:scale(0.3);opacity:.3}40%{transform:scale(0.4);opacity:.4}50%{transform:scale(0.5);opacity:.5}60%{transform:scale(0.6);opacity:.6}70%{transform:scale(0.7);opacity:.7}80%{transform:scale(0.8);opacity:.8}90%{transform:scale(0.9);opacity:.9}100%{transform:scale(1);opacity:1}


}
.image__block {
  flex: 1 1 600px;
  margin-left: 60px;
  max-width: 449px;
}

h1 {
  font-family: "Marck Script";
  font-size: 60px;
  text-decoration: none;
  color: #1c1c1c;
}
.Birthday{
  font-family: "Marck Script";
  padding-left: 200px;
  text-decoration: none;
  color: #1c1c1c;
}

