@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  max-width:1920px;
  min-width:320px;
  margin:0 auto;

}
@media screen and (max-width: 1000px) {
  .image__block {
    margin-top: 42px;
    margin-left: 0;

  }
}
@media screen and (max-width: 600px) {
  .contact__info{
    width: 100%;
  }
}
