.sectionHeader {
	min-height: 100%;
	height: auto!important;
	height: 100%;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.header__block {
	position: relative;
	width: 100%;
	padding: 32px 48px 32px 32px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}
body{
	max-width:1920px;
	min-width:320px;
	margin:0 auto;
	
}
.header__logo {
	font-family: "Marck Script";
	display: block;
	font-size: 30px;
	text-decoration: none;
	color: #1c1c1c;
}

.header__info {
	font-family: "Marck Script";
	font-size: 30px;
	text-decoration: none;
	color: #1c1c1c;
}

.link__menu {
	position: fixed;
	bottom: 50px;
	z-index:1;
	transform: rotate(-90deg);
	
}

.li__menu {
	list-style-type: none;
}

.link {
	color: #1c1c1c;
}

ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 12px;
}

.index {
	display:block;
	height: 100%;
	margin-bottom: 25px;
}

.content {
	margin:0 auto;
	width: calc(82% - 120px);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 120px	0	120px 0;
}

.skin {
	background-color: #f7f7f9;
}

.blok1 {
	flex: 1;
	margin: auto;
	max-width: 449px;
}

.blok2 {
	flex: 1 1 600px;
	margin-left: 60px;
	max-width: 449px;
}

h1 {
	font-family: "Marck Script";
	font-size: 30px;
	text-decoration: none;
	color: #1c1c1c;
}
footer {
	clear: both;
	position: relative;
	color: #1c1c1c;
	padding-bottom: 32px;
}
.footer__info {
	display: block;
	margin-bottom: 25px;
	font-family: "Marck Script";
	font-size: 30px;
	text-decoration: none;
	color: #1c1c1c;
}
.contact__info {
	width: calc(82% - 120px);
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
    border-top: 1px solid #f0f0f0f0;
}
.slogan {
	margin-left: 42px;
	width: 250px;
}
@media screen and (max-width: 1000px) {
	.blok2 {
		margin-top: 42px;
		margin-left: 0;
		
	}

	
}
@media screen and (max-width: 600px) {
	.contact__info{
		width: 100%;
	}

}