body{
  max-width:1920px;
  min-width:320px;
  margin:0 auto;

}
@media screen and (max-width: 1000px) {
  .blok2 {
    margin-top: 42px;
    margin-left: 0;

  }


}
@media screen and (max-width: 600px) {
  .contact__info{
    width: 100%;
  }

}
