.img__skill {
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  border-radius: 100%;
  width: 160px;
  height: 160px;

}
.skill__block{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0px	0px 0;
  max-width: 1280px;
  height: 200px;
  margin: 0 auto;
  }
.skill__item{
  width: 180px;
  height: 180px;
}
img{
  position: absolute;
  width: 160px;
  height: 160px;
}
svg{
  width: 160px;
  height: 160px;
  position: absolute;
  transform: rotate(-90deg);
}
.path {
  stroke-dasharray: 500px;
  stroke-dashoffset: 0;

  animation-fill-mode: forwards;

}
/*@keyframes dash {
  from {
    stroke-dashoffset: 500px;
  }
  to {
    stroke-dashoffset: 0px ;
  }
}*/

