
.content {
    margin:0 auto;
    width: calc(82% - 120px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 120px	0	120px 0;
  }
  
  .skin {
    background-color: #f7f7f9;
  }
  .index {
    display:block;
    height: 100%;
    margin-bottom: 25px;
  }
  
  .content {
    margin:0 auto;
    width: calc(82% - 120px);
    padding: 120px	0	120px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
  }
  .text__block {
    flex: 1;
    margin: auto;
    max-width: 449px;
    opacity: 0%;
    font-size: 20px;
  
  }
  @keyframes opacity_on {
   
  
  }
  .image__block {
    flex: 1 1 600px;
    margin-left: 60px;
    max-width: 449px;
  }
  
  h1 {
    font-family: "Marck Script";
    font-size: 60px;
    text-decoration: none;
    color: #1c1c1c;
  }
  .Birthday{
    font-family: "Marck Script";
    padding-left: 200px;
    text-decoration: none;
    color: #1c1c1c;
  }
  
  