
.sectionHeader {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header__block {
  position: relative;
  width: 100%;
  padding: 32px 48px 32px 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.header__logo {
  font-family: "Marck Script";
  display: block;
  font-size: 30px;
  text-decoration: none;
  position: fixed;
  color: #1c1c1c;
  top:20px;
}
.burger__menu{
  position: relative;
  top: -40px; /*I know, it's not very good. */
}
.header__info {
  position: absolute;
  font-family: "Marck Script";
  font-size: 30px;
  text-decoration: none;
  top:20px;
  color: #1c1c1c;
}

.header__logo {
  animation: 1s moveLeft;
  animation-fill-mode:forwards;
}

@keyframes moveLeft {
  from {
    left: 0%;
  }
  to {
    left: 10%;
  }
}

.header__info {
  animation: 1s moveRight ;
  animation-fill-mode:forwards;
}

@keyframes moveRight {
  from {
    right: 0%;
  }
  to {
    right: 10%;
  }
}
